.game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #FF3833, #EB3567);
  color: rgb(0, 0, 0);
  font-family: 'Creepster', cursive;
  padding: 20px 40px;
  margin-bottom: 10px;
  font-size: 25px;
  border-radius: 5px;
}


html,
body {
  /*width: 100vw;
  /height: 90vh;*/
  /*margin: 0;*/
  background-image: url("https://raw.githubusercontent.com/CSS1982/project-game-daredr/master/img/background-forest.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: saturate(100%);
  text-align: center;

}

#logo {
  width: 35vw;
  height: auto;
}

h1 {
  color: #EB3567;
  font-size: xx-large;

}

.container {

  text-align: center;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;



}


/* ---- section ---- */


.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;



}

selection-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}